* 
{
    overflow-x: hidden
}
body
{
    font-family: 'Lato', 'Segoe UI', Tahoma, sans-serif;
    font-size: 30px;
    color: #eee;
    background-color: #000
}
a
{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
a:hover
{
    text-shadow: 0 0 10px #FFFFFFAA;
}
h2 
{
    letter-spacing: 3px;
    font-size: 2.8vw;
    margin: 2vh 0 1vh 0;
    font-weight: normal;
}
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}
.footer
{
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* main page */
@keyframes pulse {
    0%{
        opacity: 0.75;
    }
    50%{
        opacity: 0.25;
    }
    100%{
        opacity: 0.75;
    }
}

.main
{
    transition: all 0.5s;

    position: absolute;
    padding: 10vh 10vw;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
}
.logo
{
    transition: all 0.5s;
    filter: brightness(0.35);
    text-align: center;
    padding: 10vh 0 0 0;
    /*padding: 5% 0 20% 0;*/
    max-height: 80vh;

    animation: pulse 5s ease infinite;
}
.logo:hover
{
    transition: all 0.5s;
    filter: brightness(1.0);
    animation: none;
}
.logo img 
{
    max-width: 40vw;
    max-height: 40vh;
}
.fa
{
    transition: all 0.5s;
    font-size: 150px;
}
.icons .fa 
{
    padding-right: 15px;
    font-size: 25px;
}
.pages
{
    position: absolute;
    padding: 5vh 10vw;
    transition: all 0.5s;
    display: none;
    opacity: 0;

    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
    overflow-y: hidden;
}
.page
{
    transition: all 0.5s;
    display: none;
    opacity: 0;
    text-align: center;
    height: 70vh;
    padding-top: 10vh;
    width: 100%
}
.logo-small
{
    float: left;
    font-size: 56px;
    width: 100%
}
.logo-small img 
{ 
    vertical-align: middle;
    width:56px; 
} 

.icons-games .fa 
{
    padding-right: 15px;
}
/* projects */
.projects-left
{
    width: 18vw;
    display: inline-block;
    float: left;
    overflow-y: scroll;
    max-height: 65vh;
    padding-right: 2px;
}
.projects-right
{
    width: 60vw;
    display: inline-block;
    float: right;
    overflow-y: scroll;
    max-height: 65vh;
    padding-right: 2px;
}

/* project list */
.project-type
{
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
}
.project-type:hover
{
    transition: all 0.5s;
    background: rgba(255,255,255,0.1);
}

.project-expand
{
    transition: all 0.5s;
    display: none;
    /*padding-bottom: 15px;*/
    margin-top: -56px;
    opacity: 0;
}
li 
{
    font-size: 1.2vw;
    font-weight: 600;
    padding: 5px 10px;
    list-style: none;
    text-align: left;
    cursor: pointer;
}
li:hover
{
    text-shadow: 0 0 20px #FFF;
}

/* project info */
.project-info
{
    transition: all 0.1s;
    display: none;
    opacity: 0;
    text-align: right;
}
.addition
{
    display: inline;
    font-size: 15px;
    color: #aaa;
}
.fa-github
{
    font-size: 50vmin;
    width: 100%;
}
.github
{
    display: block;
    opacity: 1;
    text-align: center;
    overflow-y: hidden;
}
hr
{
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}
.project-link
{
    float:left;
    display: inline;
}
.project-image
{
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin-bottom: 10px;
    max-width: 100%;
}

.project-image-stack
{
    float: right;
    max-width: 32%;
    padding: 5px 2% 0 2%;
    overflow: hidden;
}
p
{
    font-size: 18px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    text-align: left;
}